<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
</head>
<p>
    <a href="{:U('File/index')}">文件操作</a>
</p>
<p>
    <a href="{:U('Index/note')}">PDO 留言板</a>
</p>
<p>
    <a href="{:U('Test/biaodan')}">金客PHP初试</a>
</p>
<p>
    <a href="{:U('Test/jstimu')}">金客JS初试</a>
</p>
<p>
    <a href="{:U('Test/wxDecrypt')}">小程序 用户信息解密</a>
</p>

<p>
    <a href="{:U('Test/arrTest')}">array_merge 测试</a>
</p>
<hr>
<p>
    <a href="{:U('Algorithm/index')}">算法学习</a>
</p>
<p>
    <a href="{:U('Test/YH')}">杨辉三角 测试</a>
</p>
<p>
    <a href="{:U('Algorithm/deepCate')}">无限极分类</a>
</p>

</html>
<script>

    s=3;
    function test(){
        console.log(s);
        var s=4;
        console.log(s)

    }
    test();

    function mergeSort(arr) {  //采用自上而下的递归方法
        var len = arr.length;
        if(len < 2) {
            return arr;
        }
        var middle = Math.floor(len / 2),
            left = arr.slice(0, middle),
            right = arr.slice(middle);
        return merge(mergeSort(left), mergeSort(right));
    }
    function merge(left, right)
    {
        var result = [];
        console.time('归并排序耗时');
        while (left.length && right.length) {
            if (left[0] <= right[0]) {
                result.push(left.shift());
            } else {
                result.push(right.shift());
            }
        }
        while (left.length)
            result.push(left.shift());
        while (right.length)
            result.push(right.shift());
        console.timeEnd('归并排序耗时');
        return result;
    }
    var arr=[3,44,38,5,47,15,36,26,27,2,46,4,19,50,48];
    console.log(mergeSort(arr));
</script>