<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>Title</title>
</head>
<body>
<h4>递归方式获取 无限级分类数据</h4>
<select>
    <volist name="cateListDown" id="vo">
        <option {$vo.selected}>{$vo.cate_name}</option>
    </volist>
</select>
<br>
<br>
<volist name="cateListUp" id="vo">
    <a href="#">{$vo.cate_name}</a>>&nbsp;
</volist>

<hr>
<br>
<h4>全路径方式获取 无限级分类数据</h4>
<select>
    <volist name="cateListPathDown" id="vo">
        <option {$vo.selected}>{$vo.cate_name}</option>
    </volist>
</select>
<br>
<br>

<volist name="cateListPathUp" id="vo">
    <a href="#">{$vo.cate_name}</a>>&nbsp;
</volist>

<hr>
<h4>README</h4>
<span>补充信息：</span>
<p>1. 删除分类数据时，应当判断其没有子孙级分类</p>
<p>2. 更改数据级别时，父级数据不可直接变为子孙的下级</p>
</body>
</html>