<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
</head>
<p>
    <a href="{:U('Order/trace')}">跳转物流</a>
</p>
<p>
    <a href="{:U('Order/mobilepayment')}">订单支付</a>
</p>
<p>
    <a href="{:U('User/register')}">短信注册</a>
</p>
<p>
    <a href="{:U('Home/Login/index')}">微信登录</a>
</p>
<p>
    <a href="{:U('QrCode/index')}">QR Code</a>
</p>
<p>
    <a href="{:U('Email/index')}">邮件发送</a>
</p>
<p>
    <a href="{:U('Charts/index')}">Highcharts 图表</a>
</p>
<p>
    <a href="{:U('Test/page')}">测试操作</a>
</p>
</html>