<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>编辑地址</title>
    <link href="__MCSS__/admin.css" rel="stylesheet" type="text/css" />
    <link href="__MCSS__/upzhang.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="__MJS__/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="__MJS__/order.js"></script>
    <script type="text/javascript" src="__MJS__/dialog/layer.js"></script>
    <script type="text/javascript" src="__MJS__/dialog.js"></script>
</head>

<body>
<volist name="userAddr" id="addr">
    <div class="bjdzxq" status="{$addr.status}" id="div-addr-{$addr.address_id}"
         onclick="btnAddrSel('{$addr.address_id}')">
        <div class="bjgrdz">
            <button type="button">◉</button>
        </div>

        <ul class="bjxqdz">
            <li>{$addr.consignee}&nbsp;{$addr.mobile}
                <span><a onclick="delUserAddr('{$addr.address_id}')">删除</a></span>
            </li>
            <li>{$addr.address_name}&nbsp;{$addr.address}</li>
            <li>{$addr.delivery_note}
                <span><a onclick="editUserAddr('{$addr.address_id}')">编辑</a></span>
            </li>
        </ul>
    </div>
</volist>
<div class="xzyhdz">
    <input name="" type="button" value="+新增地址" onclick="upAddNewMsg()" />
</div>
<form class="form-addNewMsg" id="form-addNewMsg">
    <div class="div-addNewMsg">
        <label>姓名：</label>
        <input type="text" name="consignee"/>
        <br/>
        <label>电话：</label>
        <input type="text" name="mobile"/>
        <br/>
        <label>地址：</label>
        <input name="address" type="text" placeholder="请输入详细地址" />
        <br/>
        <label>备注：</label>
        <select name="delivery">
            <volist name="delivery" id="d">
                <option value="{$d.id}">{$d.delivery_note}</option>
            </volist>
        </select>
        <br/>
        <input type="button" value="添加" onclick="addNewMsg()"/>
        <input type="reset" value="重置"/>
    </div>
</form>
<form action="{:U('Order/payment')}" method="post" id="form-back">
    <input type="hidden" name="order_sn" value="{$str_Order_sn}"/>
</form>
</body>
<script>
    var tag = 0;
    addrLoadInitView();




    function btnAddrSel(address_id) {
        //var selTag = greenBtnTag("#div-addr-"+address_id+" button");
        var toUrl = "{:U('Order/ajaxSetDefaultAddr')}";
        $(".bjdzxq").each(function () {
            $(this).children('div').children('button').css('color','');
            $(this).removeClass('selTrue');
        });
        $("#div-addr-"+address_id).addClass('selTrue');
        $("#div-addr-"+address_id).children('div').children('button').css('color','green');
        toSetDefaultAddr(toUrl,address_id);

    }

    //删除收货地址
    function delUserAddr(addr_id) {
        var toUrl = "{:U('Order/ajaxDelAddr')}";
        toDelUserAddr(toUrl,addr_id);
    }
    //编辑收货地址
    function editUserAddr(addr_id) {
        var toUrl = "{:U('Order/ajaxEditAddr')}";
        toEditUserAddr(toUrl,addr_id);
    }
    function upAddNewMsg() {
        var tag = addTag();
        if (tag == 1){
            $(".xzyhdz input").val('-取消操作');
            $(".form-addNewMsg").show();
        }else {
            $(".xzyhdz input").val('+新增地址');
            $(".form-addNewMsg").hide();
        }
    }
    function addTag() {
        if (tag == 1){
            tag = 0;
        }else {
            tag = 1;
        }
        return tag;
    }
    function addNewMsg() {
        var toUrl = "{:U('Order/ajaxAddUserAddr')}";
        var postData =  $("#form-addNewMsg").serialize();
        $.post(
                toUrl,
                postData,
                function (result) {
                    layer.msg(result.message);
                    if(result.status == 1){
                        //成功
                        location.reload();
                    }
                },"JSON");
    }
</script>
</html>
