<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>订单中心</title>
    <link href="__MCSS__/admin.css" rel="stylesheet" type="text/css" />
    <link href="__MCSS__/upzhang.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__MJS__/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="__MJS__/order.js"></script>
    <script type="text/javascript" src="__MJS__/jquery.SuperSlide.2.1.1.js"></script>

    <script type="text/javascript" src="__MJS__/dialog/layer.js"></script>
    <script type="text/javascript" src="__MJS__/dialog.js"></script>
</head>

<body>
<div class="slideTxtBox">
    <div class="hd">
        <ul>
            <li onclick="showPayTip(1)">待付款（<span class="waitingPay">0</span>）</li>
            <li onclick="showPayTip(0)">待收货（<span class="waitingHarvest">0</span>）</li>
            <li onclick="endHarvest()">已收货（<span class="endHarvest">0</span>）</li>
        </ul>
    </div>
    <div class="bd">
        <!-- 待付款模块-->
        <div class="dfkcp">
            <?php
                    $tag1 = sizeof($waitingCustomOrder);
                    $tag2 = sizeof($waitingPayOrder);
                    if($tag1 == 0 && $tag2 == 0){
                        echo '<p style="text-align: center;font-size:16px;margin-top: 20px">抱歉，您还没有待付款订单!</p>';
            }
            ?>
            <volist name="waitingCustomOrder" id="cu">
                <div class="dfkxplb waitingPo div-order-{$cu.order_sn}"
                     order_sn="{$cu.order_sn}" price="{$cu.order_amount}" rprice="{$cu.order_amount}">
                    <div class="dzxzan" onclick="btnSel('{$cu.order_sn}')"  >
                        <button type="button" >◉</button>
                    </div>
                    <div class="dzxcpt">
                        <img src="{$Think.config.FTP_SEVER}/{$cu.act_img}" />
                    </div>
                    <div class="dzxcpm">
                        <p>
                            <a href="###">{$cu.act_name}</a>
                        </p>
                        <span>{$cu.custom_desc}</span>
                        <a style="text-decoration: none"
                                href="{:U('User/customdistribution',array('sn'=>$cu['order_sn']))}">
                            <span>编辑套装</span>
                        </a>

                    </div>
                    <div class="dzxcjg">
                        <p>¥{$cu.order_amount}</p>
                        <span class="spanDel" onclick="delOrderInfo('{$cu.order_sn}')">
                            <a href="###">×</a>
                        </span>
                    </div>
                </div>
            </volist>

            <volist name="waitingPayOrder"  id="wo">
                <div class="dfkxplb waitingPo div-order-{$wo.order_sn}"
                     order_sn="{$wo.order_sn}" price="{$wo.price}" rprice="{$wo.rprice}">
                    <div class="dzxzan" onclick="btnSel('{$wo.order_sn}')"  >
                        <button type="button" >◉</button>
                    </div>
                    <div class="dzxcpt">
                        <img src="{$Think.config.FTP_SEVER}/{$wo.thumbnail}" />
                    </div>
                    <div class="dzxcpm">
                        <p>
                            <a href="###">{$wo.product_name}</a>
                        </p>
                        <!--<span>{$wo.desc}</span>-->
                        <div class="dzxcsl">
                            <input name="" type="button" class="dzxczj"
                                   id="delNum-{$wo.order_sn}"
                                   onclick="changeOrderNum('{$wo.order_sn}','del','{$wo.product_id}')" value="-"/>
                            <input name="" type="text" class="dzxcsjs viewNum"
                                   id="viewNum-{$wo.order_sn}" value="{$wo.product_number}"/>
                            <input name="" type="button" class="dzxczj"
                                   id="addNum-{$wo.order_sn}"
                                   onclick="changeOrderNum('{$wo.order_sn}','add','{$wo.product_id}')" value="+"/>
                        </div>
                    </div>
                    <div class="dzxcjg">
                        <p>¥{$wo.rprice}</p><!--<s>¥{$wo.rprice}</s>-->
                        <span class="spanDel" onclick="delOrderInfo('{$wo.order_sn}')">
                            <a href="###">×</a>
                        </span>
                    </div>
                </div>
            </volist>
            <div class="qxscan">
                <div class="batch">
                    <span onclick="selAll()">
                        <button type="button" id="checkbox_a1" >◉</button>
                        <label for="checkbox_a1" style="margin-left: -2px">全部</label>
                        </span>
                    <span>
                        <input name="" type="button" onclick="delBatch()" value="删除" />
                    </span>
                </div>
            </div>
            <div class="wntjcp">为您推荐</div>
            <volist name="recommended.rg1" id="rg1">
                <div class="tjcpzs">
                    <div class="tjcptp">
                        <a href="{:U('Goods/index',array('goods_id'=>$rg1['goods_id']))}">
                            <img src="{$Think.config.FTP_SEVER}/{$rg1.thumbnail}" />
                        </a>
                    </div>
                    <p>
                        <a href="###">¥{$rg1.rprice}</a>
                    </p>
                    <span>
                    <a onclick="addCart({$rg1['goods_id']})">
                        <svg version="1.1" id="&#x56FE;&#x5C42;_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                         y="0px" width="17.987px" height="18px" viewBox="0 0 17.987 18" style="enable-background:new 0 0 17.987 18;"
                         xml:space="preserve">
                    	<path style="fill:#CCCCCC;" d="M8.862,16.412c0,0.494-0.401,0.895-0.895,0.895c-0.495,0-0.896-0.401-0.896-0.895
                        s0.401-0.896,0.896-0.896C8.461,15.517,8.862,15.918,8.862,16.412z M14.498,15.517c-0.495,0-0.896,0.401-0.896,0.896
                        s0.401,0.895,0.896,0.895c0.494,0,0.895-0.401,0.895-0.895S14.992,15.517,14.498,15.517z M16.731,13.201H5.649L2.883,2.064
                        L2.855,2.073C2.784,1.921,2.632,1.814,2.453,1.814H0.448C0.206,1.814,0,2.02,0,2.262c0,0.25,0.206,0.447,0.448,0.447h1.674
                        l2.712,10.939v0.036l0.009,0.027c0,0.027,0,0.054,0.009,0.081c0.018,0.036,0.036,0.081,0.063,0.116
                        c0.044,0.063,0.107,0.117,0.179,0.144c0.063,0.027,0.125,0.044,0.188,0.044h11.449c0.251,0,0.448-0.197,0.448-0.448
                        C17.179,13.397,16.982,13.201,16.731,13.201z M17.905,4.279c0-0.25-0.197-0.448-0.448-0.448H4.969
                        C4.745,3.85,4.557,4.038,4.557,4.279c0,0.036,0,0.071,0.009,0.099H4.557l1.772,7.144c0,0.25,0.206,0.448,0.448,0.448h8.907
                        c0.25,0,0.448-0.197,0.448-0.448l1.772-7.144h-0.009C17.905,4.351,17.905,4.315,17.905,4.279z"/>
                    	</svg>
                    </a>
                </span>
                </div>
            </volist>

        </div>
        <!-- 待付款模块-->
        <!-- 待收货模块-->
        <div class="dfkcp">
            <?php
                    $tag1 = sizeof($waitingCustomHarvestOrder);
                    $tag2 = sizeof($waitingHarvestOrder);
                    if($tag1 == 0 && $tag2 == 0){
                        echo '<p style="text-align: center;font-size:16px;margin-top: 20px">抱歉，您还没有待收货订单!</p>';
                    }
                ?>
            <volist name="waitingCustomHarvestOrder"  id="wcho">
                <div class="dshzt" id="div-waitingHarvest-{$wcho.rec_id}">
                    <div class="dfkxplb dshbk">
                        <div class="dzxcpt">
                            <img src="{$Think.config.FTP_SEVER}/{$wcho.act_img}" />
                        </div>
                        <div class="dzxcpm dshjl">
                            <p>
                                <a href="###">{$wcho.act_name}(第{$wcho.product_name}期)</a>
                            </p>
                            <!--<span>{$wcho.custom_desc}</span>-->
                        </div>
                        <div class="dzxcjg dshjl">
                            <p>¥{$wcho.order_rprice}</p><!--<s>¥{$wcho.order_rprice}</s>-->
                        </div>
                    </div>
                    <div class="dshanu">
                        <a href="{:U('Index/personordering',array('lb'=>$wcho['act_id']))}">
                            <input name="" type="button" class="zcgman zcgmkd" value="再次购买"/>
                        </a>
                        <input name="" type="button"
                               onclick="deliveryMsg('{$wcho.courier_num}')"
                               class="ckwlan" value="查看物流"/>
                        <input name="" type="button" class="ckwlan"
                               onclick="toHarvest('{$wcho.rec_id}','{$wcho.order_id}')" value="确认收货"/>
                        <input name="" type="button" class="lxshan" value="联系售后"/>
                    </div>
                </div>
            </volist>


            <volist name="waitingHarvestOrder"  id="who">
                <div class="dshzt" id="div-waitingHarvest-{$who.rec_id}">
                    <div class="dfkxplb dshbk">
                        <div class="dzxcpt">
                            <img src="{$Think.config.FTP_SEVER}/{$who.thumbnail}" />
                        </div>
                        <div class="dzxcpm dshjl">
                            <p>
                                <a href="###">{$who.product_name}</a>
                            </p>
                           <!-- <span>{$who.desc}</span>-->
                        </div>
                        <div class="dzxcjg dshjl">
                            <p>¥{$who.rprice}</p><!--<s>¥{$who.rprice}</s>-->
                        </div>
                    </div>
                    <div class="dshanu">
                        <a href="{:U('Goods/index',array('goods_id'=>$who['product_id']))}">
                            <input name="" type="button" class="zcgman zcgmkd" value="再次购买"/>
                        </a>
                        <input name="" type="button"
                               onclick="deliveryMsg('{$who.courier_num}')"
                               class="ckwlan" value="查看物流"/>
                        <input name="" type="button" class="ckwlan"
                               onclick="toHarvest('{$who.rec_id}','{$who.order_id}')" value="确认收货"/>
                        <input name="" type="button" class="lxshan" value="联系售后"/>
                    </div>
                </div>
            </volist>
            <div class="wntjcp">为您推荐</div>
            <volist name="recommended.rg2" id="rg2">
                <div class="tjcpzs">
                    <div class="tjcptp">
                        <a href="{:U('Goods/index',array('goods_id'=>$rg2['goods_id']))}">
                            <img src="{$Think.config.FTP_SEVER}/{$rg2.thumbnail}" />
                        </a>
                    </div>
                    <p>
                        <a href="###">¥{$rg2.rprice}</a>
                    </p>
                    <span>
                    <a onclick="addCart({$rg2['goods_id']})">
                    	<svg version="1.1" id="&#x56FE;&#x5C42;_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                         y="0px" width="17.987px" height="18px" viewBox="0 0 17.987 18" style="enable-background:new 0 0 17.987 18;"
                         xml:space="preserve">
                    	<path style="fill:#CCCCCC;" d="M8.862,16.412c0,0.494-0.401,0.895-0.895,0.895c-0.495,0-0.896-0.401-0.896-0.895
                        s0.401-0.896,0.896-0.896C8.461,15.517,8.862,15.918,8.862,16.412z M14.498,15.517c-0.495,0-0.896,0.401-0.896,0.896
                        s0.401,0.895,0.896,0.895c0.494,0,0.895-0.401,0.895-0.895S14.992,15.517,14.498,15.517z M16.731,13.201H5.649L2.883,2.064
                        L2.855,2.073C2.784,1.921,2.632,1.814,2.453,1.814H0.448C0.206,1.814,0,2.02,0,2.262c0,0.25,0.206,0.447,0.448,0.447h1.674
                        l2.712,10.939v0.036l0.009,0.027c0,0.027,0,0.054,0.009,0.081c0.018,0.036,0.036,0.081,0.063,0.116
                        c0.044,0.063,0.107,0.117,0.179,0.144c0.063,0.027,0.125,0.044,0.188,0.044h11.449c0.251,0,0.448-0.197,0.448-0.448
                        C17.179,13.397,16.982,13.201,16.731,13.201z M17.905,4.279c0-0.25-0.197-0.448-0.448-0.448H4.969
                        C4.745,3.85,4.557,4.038,4.557,4.279c0,0.036,0,0.071,0.009,0.099H4.557l1.772,7.144c0,0.25,0.206,0.448,0.448,0.448h8.907
                        c0.25,0,0.448-0.197,0.448-0.448l1.772-7.144h-0.009C17.905,4.351,17.905,4.315,17.905,4.279z"/>
                    	</svg>
                    </a>
                </span>
                </div>
            </volist>

        </div>
        <!-- 待收货模块-->

        <!-- 已收货模块-->
        <div class="dfkcp">
            <div class="div-endHarvest">
                <volist name="endCustomHarvestOrder"  id="echo">
                    <div class="dfkxplb">
                        <div class="dzxcpt">
                            <img src="{$Think.config.FTP_SEVER}/{$echo.act_img}" />
                        </div>
                        <div class="dzxcpm">
                            <p>
                                <a href="###">{$echo.act_name}(第{$echo.product_name}期)</a>
                            </p>
                            <span>{$echo.act_name}</span>
                            <div class="dzxcsl">收货时间:{$echo.is_harvest_time}</div>
                        </div>
                        <div class="dzxcjg dshjl">
                            <p>¥{$echo.order_amount}</p><s>¥{$echo.order_amount}</s>
                        </div>
                    </div>
                </volist>



                <volist name="endHarvestOrder"  id="eho">
                    <div class="dfkxplb">
                        <div class="dzxcpt">
                            <img src="{$Think.config.FTP_SEVER}/{$eho.thumbnail}" />
                        </div>
                        <div class="dzxcpm">
                            <p>
                                <a href="###">{$eho.product_name}</a>
                            </p>
                            <span>{$eho.desc}</span>
                            <div class="dzxcsl">收货时间:{$eho.is_harvest_time|date="Y-m-d",###}</div>
                        </div>
                        <div class="dzxcjg dshjl">
                            <p>¥{$eho.price}</p><s>¥{$eho.rprice}</s>
                        </div>
                    </div>
                </volist>
            </div>

            <div class="wntjcp">为您推荐</div>
            <volist name="recommended.rg3" id="rg3">
                <div class="tjcpzs">
                    <div class="tjcptp">
                        <a href="{:U('Goods/index',array('goods_id'=>$rg3['goods_id']))}">
                            <img src="{$Think.config.FTP_SEVER}/{$rg3.thumbnail}" />
                        </a>
                    </div>
                    <p>
                        <a href="###">¥{$rg3.rprice}</a>
                    </p>
                    <span>
                    <a onclick="addCart({$rg3['goods_id']})">
                        <svg version="1.1" id="&#x56FE;&#x5C42;_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                         y="0px" width="17.987px" height="18px" viewBox="0 0 17.987 18" style="enable-background:new 0 0 17.987 18;"
                         xml:space="preserve">
                    	<path style="fill:#CCCCCC;" d="M8.862,16.412c0,0.494-0.401,0.895-0.895,0.895c-0.495,0-0.896-0.401-0.896-0.895
                        s0.401-0.896,0.896-0.896C8.461,15.517,8.862,15.918,8.862,16.412z M14.498,15.517c-0.495,0-0.896,0.401-0.896,0.896
                        s0.401,0.895,0.896,0.895c0.494,0,0.895-0.401,0.895-0.895S14.992,15.517,14.498,15.517z M16.731,13.201H5.649L2.883,2.064
                        L2.855,2.073C2.784,1.921,2.632,1.814,2.453,1.814H0.448C0.206,1.814,0,2.02,0,2.262c0,0.25,0.206,0.447,0.448,0.447h1.674
                        l2.712,10.939v0.036l0.009,0.027c0,0.027,0,0.054,0.009,0.081c0.018,0.036,0.036,0.081,0.063,0.116
                        c0.044,0.063,0.107,0.117,0.179,0.144c0.063,0.027,0.125,0.044,0.188,0.044h11.449c0.251,0,0.448-0.197,0.448-0.448
                        C17.179,13.397,16.982,13.201,16.731,13.201z M17.905,4.279c0-0.25-0.197-0.448-0.448-0.448H4.969
                        C4.745,3.85,4.557,4.038,4.557,4.279c0,0.036,0,0.071,0.009,0.099H4.557l1.772,7.144c0,0.25,0.206,0.448,0.448,0.448h8.907
                        c0.25,0,0.448-0.197,0.448-0.448l1.772-7.144h-0.009C17.905,4.351,17.905,4.315,17.905,4.279z"/>
                    	</svg>
                    </a>
                </span>
                </div>
            </volist>
        </div>
        <!-- 已收货模块-->
    </div>
</div>
<div id="toPayTip">
    <div class="dfkcpzj">
        总金额
        <p>¥<p id="allPrice">0.00</p></p>
       <!-- <span>（已省¥<span id="savePrice">0.00</span>）</span>-->
    </div>
    <div class="dfkljzf">
        <input name="" type="button" onclick="orderPayment()" value="结算" />
    </div>
</div>
<form action="{:U('Order/payment')}" method="post" id="form-order-payment">
    <input name="order_sn" id="to_payment_order_sn" type="hidden"/>
</form>
<ul class="foot">
    <li><a href="{:U('Index/index')}">
        <svg version="1.1" id="&#x56FE;&#x5C42;_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
         y="0px" width="29px" height="20px" viewBox="0 0 19.99 16.08" style="enable-background:new 0 0 19.99 16.08;"
         xml:space="preserve">
        	<path d="M17.144,5.194l-7.378-5.22L9.724,0.028L0.316,6.98l0.01,0.01c-0.106,0.086-0.17,0.224-0.17,0.373
            c0,0.266,0.212,0.489,0.489,0.489c0.095,0,0.18-0.021,0.254-0.085l0.011,0.022l2.146-1.584v9.589c0,0.159,0.128,0.286,0.287,0.286
            H8.48c0.16,0,0.288-0.127,0.288-0.286v-5.028h2.7v5.028c0,0.159,0.128,0.286,0.287,0.286h5.135c0.16,0,0.286-0.127,0.286-0.286
            V5.216L17.144,5.194z M16.166,15.07h-3.688v-4.305h-0.011v-0.724c0-0.16-0.127-0.287-0.287-0.287H8.044
            c-0.16,0-0.287,0.127-0.287,0.287v5.029H4.069V5.46l5.729-4.231l6.368,4.507V15.07z M19.833,7.363c0,0.266-0.223,0.489-0.5,0.489
            c-0.106,0-0.213-0.031-0.288-0.106l-0.021,0.021l-1.85-1.308V5.215l2.434,1.723L19.6,6.958C19.738,7.022,19.833,7.182,19.833,7.363"
            />
        </svg>
        首页
    </a></li>
    <li><a class="active" href="{:U('Order/index')}">
    	<svg version="1.1" id="&#x56FE;&#x5C42;_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="29px" height="20px" viewBox="0 0 19.99 16.08" style="enable-background:new 0 0 19.99 16.08;"
	 xml:space="preserve">
        	<path d="M9.901,15.204c0,0.515-0.418,0.933-0.933,0.933s-0.932-0.417-0.932-0.933
            c0-0.514,0.417-0.932,0.932-0.932S9.901,14.69,9.901,15.204z M15.771,14.272c-0.515,0-0.933,0.418-0.933,0.932
            c0,0.515,0.417,0.933,0.933,0.933c0.515,0,0.932-0.417,0.932-0.933C16.703,14.69,16.285,14.272,15.771,14.272z M18.096,11.859H6.554
            L3.673,0.261l-0.028,0.01C3.57,0.112,3.412,0,3.225,0H1.137C0.885,0,0.67,0.214,0.67,0.466c0,0.261,0.214,0.466,0.466,0.466H2.88
            l2.825,11.393v0.038l0.01,0.028c0,0.028,0,0.056,0.009,0.084c0.019,0.037,0.038,0.083,0.066,0.121
            c0.046,0.065,0.111,0.122,0.186,0.149c0.065,0.028,0.131,0.046,0.196,0.046h11.925c0.262,0,0.466-0.205,0.466-0.466
            C18.563,12.065,18.358,11.859,18.096,11.859z M19.319,2.568c0-0.261-0.206-0.466-0.466-0.466H5.846
            C5.613,2.121,5.417,2.316,5.417,2.568c0,0.037,0,0.075,0.009,0.103H5.417l1.846,7.44c0,0.261,0.214,0.466,0.466,0.466h9.277
            c0.261,0,0.466-0.206,0.466-0.466l1.846-7.44h-0.01C19.319,2.643,19.319,2.605,19.319,2.568z"/>
        </svg>
        购物车
        <p id="cartView" class="{$cartTag}">●</p>
    </a></li>
    <li><a href="{:U('Found/index')}">
    	<svg version="1.1" id="&#x56FE;&#x5C42;_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="29px" height="20px" viewBox="0 0 19.99 16.08" style="enable-background:new 0 0 19.99 16.08;"
	 xml:space="preserve">
        	<path d="M10.403,0.408v2.205c0,0.229-0.18,0.409-0.408,0.409c-0.229,0-0.417-0.18-0.417-0.409V0.408
            C9.578,0.188,9.766,0,9.995,0C10.224,0,10.403,0.188,10.403,0.408 M6.369,4.467c0.163-0.155,0.163-0.417,0-0.572L4.801,2.327
            c-0.164-0.154-0.425-0.154-0.58,0c-0.164,0.164-0.164,0.425,0,0.58l1.568,1.56C5.952,4.63,6.214,4.63,6.369,4.467 M15.769,2.907
            c0.164-0.155,0.164-0.417,0-0.58c-0.163-0.154-0.424-0.154-0.58,0l-1.576,1.568c-0.164,0.155-0.164,0.417,0,0.572
            c0.163,0.163,0.424,0.163,0.58,0L15.769,2.907 M4.874,7.93c0-0.229-0.188-0.408-0.417-0.408H2.236c-0.229,0-0.408,0.18-0.408,0.408
            c0,0.221,0.179,0.408,0.408,0.408h2.221C4.687,8.338,4.874,8.15,4.874,7.93 M18.162,7.93c0-0.229-0.188-0.408-0.417-0.408h-2.221
            c-0.229,0-0.408,0.18-0.408,0.408c0,0.221,0.18,0.408,0.408,0.408h2.221C17.974,8.338,18.162,8.15,18.162,7.93 M6.369,11.964
            c0.163-0.164,0.163-0.417,0-0.58c-0.155-0.155-0.417-0.155-0.58,0l-1.568,1.56c-0.164,0.163-0.164,0.417,0,0.58
            c0.155,0.163,0.417,0.163,0.58,0L6.369,11.964 M15.769,13.524c0.164-0.164,0.164-0.417,0-0.58l-1.576-1.56
            c-0.156-0.155-0.417-0.155-0.58,0c-0.164,0.163-0.164,0.416,0,0.58l1.576,1.56C15.344,13.687,15.606,13.687,15.769,13.524
             M9.983,4.592c-0.657,0-1.288,0.174-1.874,0.518C6.604,6.125,6.511,7.466,6.51,7.479L6.509,7.512L6.506,7.544
            C6.35,8.851,7.003,9.686,7.031,9.721l0.72,0.952c0.515,0.679,0.661,1.568,0.698,1.879c0.012,0.025,0.033,0.038,0.088,0.041
            l2.912-0.002c0.021-0.006,0.051-0.016,0.081-0.028c0.03-0.065,0.053-0.193,0.053-0.236l0.002-0.056l0.008-0.055
            c0.148-0.952,0.699-1.64,1.028-2.05l0.1-0.125l0.075-0.105c0.37-0.511,0.831-1.147,0.679-2.46c-0.232-1.297-0.912-1.908-1.612-2.377
            C11.663,4.955,10.939,4.592,9.983,4.592L9.983,4.592 M9.983,3.775c1.134,0,2.027,0.425,2.333,0.643
            c0.651,0.434,1.666,1.202,1.968,2.937c0.212,1.772-0.513,2.614-0.918,3.187c-0.3,0.386-0.836,0.972-0.965,1.799
            c0,0-0.013,0.726-0.481,0.945c0,0-0.263,0.119-0.417,0.122l-2.958,0.002c0,0-0.004,0-0.012,0c-0.096,0-0.708-0.026-0.886-0.692
            c0,0-0.073-0.93-0.545-1.552l-0.701-0.928c0,0-0.907-1.087-0.704-2.79c0,0,0.068-1.753,1.979-3.029
            C8.481,3.939,9.278,3.775,9.983,3.775 M10.837,16.137c0.226,0,0.409-0.183,0.409-0.408c0-0.226-0.183-0.408-0.409-0.408H9.141
            c-0.226,0-0.409,0.183-0.409,0.408c0,0.225,0.183,0.408,0.409,0.408H10.837 M11.495,14.772c0.226,0,0.409-0.183,0.409-0.409
            c0-0.225-0.183-0.408-0.409-0.408H8.483c-0.225,0-0.408,0.183-0.408,0.408c0,0.226,0.183,0.409,0.408,0.409H11.495"/>
        </svg>
        发现
    </a></li>
    <li><a href="{:U('User/partner')}">
    	<svg version="1.1" id="&#x56FE;&#x5C42;_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="29px" height="20px" viewBox="0 0 19.99 16.08" style="enable-background:new 0 0 19.99 16.08;"
	 xml:space="preserve">
        	<path d="M16.4,7.693c0.229,0.066,0.24,0.281,0.22,0.485l-0.004,0.04v0.039l0.016,5.449
            c-0.088,0.288-0.332,0.292-0.469,0.292h-0.005h-2.046L14.1,9.337c0.065-0.748-0.184-1.286-0.541-1.645H16.4 M16.483,6.892h-3.319
            c-0.872,0.174-1.109,0.682-1.165,1.046h0.364c0,0,1.062,0.143,0.935,1.362l0.016,5.498h2.844c0.005,0,0.01,0,0.015,0
            c1.032,0,1.229-0.84,1.261-0.998v-0.024l-0.016-5.522C17.537,7.027,16.483,6.892,16.483,6.892 M14.708,0.801
            c0.417,0,0.822,0.103,1.178,0.299c0.686,0.373,1.11,1.052,1.11,1.776c0,0.414-0.13,0.802-0.379,1.145
            c-0.435,0.582-1.149,0.93-1.909,0.93c-0.126,0-0.251-0.009-0.373-0.027c0.096-0.321,0.144-0.656,0.144-1.002
            c0-1.011-0.444-1.969-1.211-2.659C13.667,0.966,14.169,0.801,14.708,0.801 M14.708,0c-1.133,0-2.115,0.563-2.654,1.403
            c0.032,0.008,0.063,0.024,0.096,0.039c0.918,0.499,1.528,1.426,1.528,2.479c0,0.547-0.158,1.046-0.443,1.482
            c0.436,0.222,0.942,0.348,1.474,0.348c1.054,0,1.988-0.499,2.551-1.251c0.341-0.467,0.539-1.022,0.539-1.624
            c0-1.054-0.61-1.98-1.528-2.479C15.81,0.143,15.271,0,14.708,0 M6.329,7.693c-0.148,0.13-0.258,0.265-0.338,0.386
            C5.63,8.627,5.654,9.21,5.685,9.454L5.67,13.998H3.843c-0.405-0.008-0.462-0.334-0.477-0.494l0.015-5.16l0.004-0.069L3.366,8.188
            C3.325,7.935,3.472,7.776,3.829,7.693H6.329 M7.056,6.892H3.745C2.319,7.169,2.58,8.342,2.58,8.342l-0.016,5.196
            c0.106,1.231,1.176,1.26,1.276,1.26c0.006,0,0.008,0,0.008,0h2.653c-0.015-0.063-0.023-0.135-0.031-0.214l0.016-5.189
            c0,0-0.254-1.181,1.165-1.458h0.34C7.927,7.003,7.056,6.892,7.056,6.892 M5.282,0.801c0.422,0,0.827,0.102,1.176,0.298
            c0.049,0.027,0.096,0.056,0.143,0.085C5.786,1.871,5.297,2.864,5.297,3.921c0,0.349,0.053,0.692,0.154,1.024
            C5.396,4.949,5.339,4.95,5.282,4.95c-1.262,0-2.289-0.931-2.289-2.074C2.993,1.731,4.02,0.801,5.282,0.801 M5.282,0
            c-1.704,0-3.09,1.291-3.09,2.876c0,1.584,1.386,2.875,3.09,2.875c0.467,0,0.911-0.095,1.307-0.277
            c-0.31-0.452-0.491-0.982-0.491-1.553c0-1.148,0.729-2.138,1.783-2.598c-0.262-0.38-0.618-0.698-1.038-0.927
            C6.391,0.143,5.852,0,5.282,0 M11.646,8.912c0.122,0.031,0.242,0.143,0.207,0.479l-0.004,0.042v0.042l0.016,5.46
            c-0.079,0.276-0.356,0.28-0.47,0.28H11.39H8.5c-0.253-0.004-0.407-0.139-0.467-0.435c-0.004-0.019-0.006-0.039-0.008-0.06
            l0.015-5.15l0.004-0.066L8.026,9.42C7.974,9.088,8.246,8.968,8.487,8.912H11.646 M11.715,8.111H8.403
            C6.986,8.388,7.239,9.569,7.239,9.569l-0.016,5.189c0.008,0.079,0.016,0.15,0.032,0.213c0.202,1.018,1.139,1.046,1.242,1.046
            c0.006,0,0.01,0,0.01,0h2.883c0.006,0,0.011,0,0.015,0c1.032,0,1.236-0.84,1.261-0.998v-0.024v-0.024l-0.016-5.498
            C12.777,8.254,11.715,8.111,11.715,8.111 M9.94,2.028c0.386,0,0.775,0.092,1.097,0.259l0.083,0.043l0.032,0.008
            c0.665,0.375,1.076,1.046,1.076,1.757c0,0.375-0.105,0.725-0.309,1.037l-0.077,0.115C11.423,5.825,10.711,6.17,9.94,6.17
            c-0.792,0-1.517-0.365-1.938-0.975c-0.229-0.335-0.351-0.717-0.351-1.1c0-0.788,0.51-1.52,1.304-1.866
            C9.26,2.096,9.591,2.028,9.94,2.028 M9.94,1.227c-0.468,0-0.911,0.095-1.307,0.269c-1.054,0.46-1.783,1.45-1.783,2.599
            c0,0.57,0.183,1.101,0.491,1.553C7.889,6.439,8.847,6.971,9.94,6.971c1.062,0,1.997-0.492,2.551-1.252
            c0.032-0.048,0.063-0.095,0.095-0.142c0.285-0.436,0.443-0.936,0.443-1.481c0-1.054-0.61-1.981-1.529-2.48
            c-0.032-0.016-0.063-0.032-0.095-0.04C10.978,1.354,10.463,1.227,9.94,1.227"/>
        </svg>
        伙伴
    </a></li>
    <li><a href="{:U('User/index')}">
    	<svg version="1.1" id="&#x56FE;&#x5C42;_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="29px" height="20px" viewBox="0 0 19.99 16.08" style="enable-background:new 0 0 19.99 16.08;"
	 xml:space="preserve">
        	<path d="M9.938,0.804L9.938,0.804c0.506,0,1.013,0.136,1.504,0.405c0.152,0.136,0.917,0.935,0.619,2.992
            l-0.006,0.047l-0.001,0.047c0,0.013-0.093,1.286-2.115,2.057C9.549,6.247,8.449,5.805,7.845,4.091
            C7.8,3.887,7.553,2.527,8.571,1.147C8.765,1.041,9.273,0.804,9.938,0.804 M9.938,0C8.792,0,8.023,0.54,8.023,0.54
            C6.557,2.402,7.072,4.317,7.072,4.317c0.925,2.681,2.932,2.866,2.932,2.866c2.8-0.964,2.853-2.866,2.853-2.866
            c0.41-2.827-0.964-3.777-0.964-3.777C11.179,0.135,10.512,0,9.938,0 M12.689,8.893c0.806,0.419,2.558,1.588,3.18,4.062
            c0.063,0.462,0.18,1.493,0.208,2.32H3.944c0.043-0.827,0.109-1.895,0.176-2.337c0.063-0.264,0.698-2.659,3.211-4.029
            c0.532,0.431,1.485,1.028,2.689,1.028C10.955,9.938,11.851,9.586,12.689,8.893 M12.54,7.944c-0.903,0.893-1.769,1.19-2.519,1.19
            c-1.503,0-2.552-1.19-2.552-1.19c-3.434,1.55-4.138,4.842-4.138,4.842c-0.123,0.775-0.228,3.293-0.228,3.293h13.77
            c0.088-1.092-0.211-3.275-0.211-3.275C15.744,9.071,12.54,7.944,12.54,7.944"/>
        </svg>
        我的
    </a></li>
</ul>
</body>
<script type="text/javascript">jQuery(".slideTxtBox").slide({trigger:"click"});</script>
<script>
    var showTag = 0;
    view_customer_service_img(showTag);
    loadBtnView();
    //页面初始化加载
    getOrderCount();

    function addCart(goods_id) {
        //TODO 点击直接加入购物车
        var toUrl = "{:U('Order/addOrderInfo')}";
        var imgUrl = "{$Think.config.IMAGE_URL}";
        toAddWaittingOrder(toUrl,goods_id,imgUrl);
    }

    function orderPayment() {
        var toUrl = "{:U('Order/ajaxUpdateBatchOrder')}";
        toOrderPayment('.dfkcp','请选择要结算的订单！',toUrl);
    }
    function endHarvest() {
        showPayTip(0);
        var toUrl =  "{:U('Order/ajaxEndHarvestData')}";
        var imgUrl =  "{$Think.config.FTP_SEVER}/";
        toEndHarvest(toUrl,imgUrl);
    }
    function toHarvest(rec_id,order_id) {
        var toUrl = "{:U('Order/ajaxHarvestOrder')}";
        toConfirmGoods(rec_id,order_id,toUrl);
    }
    //查询物流信息
    function deliveryMsg(courier_num) {
        var toUrl = "{:U('Order/Trace')}";
        toDeliveryMsg(courier_num,toUrl);
    }
    //获取各订单的数目
    function getOrderCount() {
        var toUrl = "{:U('Order/ajaxGetOrderCount')}";
        toGetOrderCount(toUrl);
    }

    //删除订单
    function delOrderInfo(order_sn) {
        var toUrl = "{:U('Order/ajaxDelOrder')}";
        toDelOrderInfo(toUrl,order_sn);
    }
    //已支付订单 批量删除
    function delBatch() {
        var toUrl = "{:U('Order/ajaxDelBatchOrder')}";
        toBatchOrder(toUrl,'.dfkcp','请选择要删除的订单！','确定要批量删除此订单吗？');
    }
    //待付款订单 商品数量增加或减少
    function changeOrderNum(order_sn,tag,product_id) {
        var viewNum = $(".dzxcsl #viewNum-" + order_sn);
        var toUrl = "{:U('Order/ajaxChangeOrderNum')}";
        var checkUrl = "{:U('Order/ajaxCheckGoodsNum')}";
        toChangeOrderNum(order_sn,tag,viewNum,toUrl,checkUrl,product_id);
    }
</script>
</html>
