<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"> 
<meta name="format-detection" content="telephone=no">
<link href="__MCSS__/admin.css" rel="stylesheet" type="text/css" />
<link href="__MCSS__/upzhang.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__MJS__/jquery-1.8.0.min.js"></script>
<title>支付</title>
</head>
<body>
<div class="cpxqzsk">
    <div class="shdzxs">
        <a onclick="toAddress()">
            <div class="shdzxq" userAddr="{$userAddr0.consignee}">
                <b class="consignee">{$userAddr0.consignee}&nbsp;{$userAddr0.mobile}</b>
                <p class="address">{$userAddr0.address_name}&nbsp;{$userAddr0.address}</p>
                <span class="delivery_note">{$userAddr0.delivery_note}</span>
                <p class="tipAddUserAddrView">请点击此处添加收货地址</p>
            </div>
            <a onclick="toAddress()">
                <div class="xgdzxq">＞</div>
            </a>
        </a>
    </div>
    <div class="dfkcp xbzfbkj">
        <div class="dfkxplb">
            <div class="dzxzan"><button type="button" onclick="text()">◉</button></div>
            <div class="dzxcpt"><img src="__MIMG__/2.jpg" /></div>
            <div class="dzxcpm">
                <p><a href="###">产品名称产品名称产品名称产品名称</a></p>
                <div class="dzxcsl"><input name="" type="button" class="dzxczj" value="-"/><input name="" type="text" class="dzxcsjs" value="1"/><input name="" type="button" class="dzxczj" value="+"/></div>
            </div>
            <div class="dzxcjg"><p>¥688.00</p><span><a href="###">×</a></span></div>
        </div>
        <div class="qxscan"><button type="button" onclick="text()" id="checkbox_a1">◉</button><label for="checkbox_a1">全部</label><input name="" type="button" value="删除" /><b>￥1254.00</b></div>
    </div>
    <div class="yhkxzjs">
    	<span>7.5折卡X6</span>
        <span class="xzyhkbs">6折卡X6</span>
        <p class="xkjgysgb">￥1567.00</p>
    </div>
    <div class="hdzkfs zfymhdk">获得折扣卡办法<b>></b></div>
    <div class="hdzkwzjs zfymhdkjs">获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法获得折扣卡办法</div>
    <div class="zjyjrzs">
        <div class="yhtxzs"><img src="__MIMG__/2.jpg" /></div>
        <div class="yhzfyzs">一碗米一个人</div>
    </div>
    <div class="msfkjzan"><input name="" type="button" value="支付订单" /></div>
</div>
</body>
<script>
$(document).ready(function(){
		   $(".hdzkfs").toggle(function(){
			 $(this).next(".hdzkwzjs").animate({height: 'toggle', opacity: 'toggle'}, "slow");
		   },function(){
			 $(this).next(".hdzkwzjs").animate({height: 'toggle', opacity: 'toggle'}, "slow");
		   });
		});
		$(document).bind("click",function(e){
			$('div').closest('.hdzkwzjs').each(function(){
				if(e.target != this){
					$(this).hide("slow");
				}
			});
		})
$(document).ready(function(){
        var aac=$(".yhtxzs img").width();
        $(".yhtxzs img").css("height", aac);
    });
	$(document).ready(function(){
        var aac=$(".yhtxzs img").height();
		var bbc=$(".yhzfyzs").height();
        $(".yhzfyzs").css("padding-top", (aac - bbc) / 2);
		//alert(bbc);
    });
</script>
</html>
