<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>支付</title>
    <link href="__MCSS__/admin.css" rel="stylesheet" type="text/css" />
    <link href="__MCSS__/upzhang.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="__MJS__/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="__MJS__/order.js"></script>
    <script type="text/javascript" src="__MJS__/pay.js"></script>
    <script type="text/javascript" src="__MJS__/dialog/layer.js"></script>
    <script type="text/javascript" src="__MJS__/dialog.js"></script>
</head>
<body>
<div class="shdzxs">
    <a onclick="toAddress()">
        <div class="shdzxq" userAddr="{$userAddr0.consignee}">
            <b class="consignee">{$userAddr0.consignee}&nbsp;{$userAddr0.mobile}</b>
            <p class="address">{$userAddr0.address_name}&nbsp;{$userAddr0.address}</p>
            <span class="delivery_note">{$userAddr0.delivery_note}</span>
            <p class="tipAddUserAddrView">请点击此处添加收货地址</p>
        </div>
        <a onclick="toAddress()">
            <div class="xgdzxq">＞</div>
        </a>
    </a>
</div>
<div id="div-payment">
    <volist name="custom_ois" id="cois">
        <div class="zfcplb div-order"  style="padding-bottom:0;"
             price="{$cois.order_amount}" nums="{$cois.num}" num="1">
            <h1>订单编号：{$cois.order_sn}</h1>
            <div class="zfcpxq">
                <div class="zfcptu">
                    <img src="{$Think.config.FTP_SEVER}/{$cois.act_img}" />
                </div>
                <div class="zfcpmc">
                    <div class="zfmccp">¥{$cois.order_amount}</div>
                    <div class="zfmccp">{$cois.act_name}</div>
                    <div class="zfmcfhsj">配送时间：{$deliveryDate}</div>
                    <div class="zfmcpscp">本次配送：{$cois.custom_desc}</div>
                </div>
                <div class="zdpsan">
                    <a href="{:U('User/customdistribution',array('sn'=>$cois['order_sn']))}">
                        <input name="" type="button" value="自订配送" />
                    </a>
                </div>
            </div>
        </div>
    </volist>


    <div class="zfcplb">
        <?php
            if($ois[0]['order_sn']){ ?>
        <h1>订单编号：{$ois[0]['order_sn']}</h1>
        <?php } ?>

        <volist name="ois" id="oi">
            <div class="zfcpxq div-order" order_sn="{$oi.order_sn}"
                 price="{$oi.price}" nums="{$oi.product_number}" num="{$oi.product_number}">

                <div class="zfcptu">
                    <img src="{$Think.config.FTP_SEVER}/{$oi.thumbnail}" />
                </div>
                <div class="zfcpmc">
                    <div class="zfmccp">{$oi.product_name}</div>
                    <!--<div class="zfmcgui">{$oi.desc}</div>-->
                    <div class="zfmcfhsj">发货时间：48小时内</div>
                </div>
                <ul class="zfcpjg">
                    <li>¥{$oi.rprice}</li>
                   <!-- <li><s>¥{$oi.rprice}</s></li>-->
                    <li>×{$oi.product_number}</li>
                </ul>
            </div>
        </volist>
        <div class="div-postage">
            邮费：<p>￥<span id="span-postage">
            <span class="postage">{$postage}</span>{$postage_tip}</span></p>
        </div>
        <div class="yhjxz" style="display: {$showCouponTag}">
            <a href="{:U('User/cardcoupons',array('str_order_sn'=>$str_order_sn))}"
               style="text-decoration:none">
                <div class="yhjlb">
                    请选择优惠劵<span>查看我的卡券包</span>
                </div>
            </a>
            <volist name="useCoupons" id="use">
                <div class="yhjxsz">
                    <div class="zkxyzs">
                        <span>{$use.discount}</span>折<img src="__MIMG__/yhjbk.jpg" /></div>
                    <div class="zkxyjswz">
                        <div class="yhjmcxy">
                            <p>{$use.desc}</p>
                            <span>{$use.over}张券即将到期</span></div>
                        <div class="yhjslzs">X<span class="sum_{$use.c_id}">{$use.sum}</span></div>
                        <div class="ljsyhj ljsyhj-{$use.c_id}">
                            <input name="" type="button" attr-c_id="{$use.c_id}"
                                   onclick="selButton('{$use.c_id}')" value="立即使用" /></div>
                    </div>
                    <div class="zkyhjsm">
                        <h1></h1>
                        <div class="zkyhjsmtext">
                            {$use.rule}
                        </div>
                    </div>
                </div>
            </volist>
        </div>
        <div class="zjyjrzs">
        	<div class="yhtxzs"><img src="{$user_img}" /></div>
            <div class="yhzfyzs">{$ad_word}</div>
        </div>
    </div>
    <div class="dfkcpzj zfdbjl">
        共计
        <p class="wx_allNum">{$wx_allNum}</p>&nbsp;件，合计：
        <p>¥
        <p class="wx_allPrice">{$wx_allPrice}</p>
    </div>
    <div class="dfkljzf zfdbjl">
        <input name="" type="button" onclick="wxToPay()" value="支付订单" />
    </div>
    <form action="http://www.52zhenmi.com/M/Cartpay/pay" method="get" id="form-toWxPayOrder">
        <input name="out_trade_no" value="{$order_sn}" type="hidden" />
    </form>

</div>

<div id="div-address" style="display: none">
    <div id="div-address-view">
        <volist name="userAddr" id="addr">
            <div class="bjdzxq" status="{$addr.status}"
                 id="div-addr-{$addr.address_id}" >
                <div class="bjgrdz" onclick="btnAddrSel('{$addr.address_id}')">
                    <button type="button">◉</button>
                </div>
                <ul class="bjxqdz">
                    <li>{$addr.consignee}&nbsp;{$addr.mobile}
                        <span><a onclick="delUserAddr('{$addr.address_id}')">删除</a></span>
                    </li>
                    <li>{$addr.address_name}&nbsp;{$addr.address}</li>
                </ul>
            </div>
        </volist>
    </div>
    <div class="xzyhdz">
        <input name="" type="button" value="+新增地址" onclick="upAddNewMsg()" />
    </div>
    <form class="form-addNewMsg" id="form-addNewMsg">
        <div class="div-addNewMsg">
            <label>姓名：</label>
            <input type="text" name="consignee"/>
            <br/><br/>
            <label>电话：</label>
            <input type="text" name="mobile"/>
            <br/><br/>
            <label>地址：</label>
            <input name="address" type="text" placeholder="请输入详细地址" />
            <br/><br/>
            <label>备注：</label>
            <select name="delivery">
                <volist name="delivery" id="d">
                    <option value="{$d.id}">{$d.delivery_note}</option>
                </volist>
            </select>
            <br/><br/>
            <input type="button" value="添加" onclick="addNewMsg()" class="qrtjdz"/>
            <input type="reset" value="重置" class="cztjdz"/>
        </div>
    </form>
</div>
</body>

<script>
    var showTag = 0;
    view_customer_service_img(showTag);
    var addressViewShowTag = 0;
    var tag = 0;
    var userAddrTag = $(".shdzxq").attr('userAddr');
    if (userAddrTag){
        $(".tipAddUserAddrView").hide();
    }else {
        $(".tipAddUserAddrView").show();
    }

    addrLoadInitView();

    function wxToPay() {
        //ajax 检查是否拥有默认收货地址
        var toUrl = "{:U('Order/ajaxCheckDefaultAddr')}";
        toCheckDefaultAddr(toUrl);
    }
    function btnAddrSel(address_id) {
        var selTag = greenBtnTag("#div-addr-"+address_id+" button");
        var toUrl = "{:U('Order/ajaxSetDefaultAddr')}";
        toBtnAddrSel(address_id,selTag,toUrl);
    }
    //删除收货地址
    function delUserAddr(addr_id) {
        var toUrl = "{:U('Order/ajaxDelAddr')}";
        toDelUserAddr(toUrl,addr_id);
    }
    //编辑收货地址
    function editUserAddr(addr_id) {
        var toUrl = "{:U('Order/ajaxEditAddr')}";
        toEditUserAddr(toUrl,addr_id);
    }
    //添加收货地址
    function addNewMsg() {
        var toUrl = "{:U('Order/ajaxAddUserAddr')}";
        var postData =  $("#form-addNewMsg").serialize();
        var afterHtml = "";
        $.post(
                toUrl,
                postData,
                function (result) {
                    layer.msg(result.message);
                    if(result.status == 1){
                        //成功
                        //location.reload();
                        $(".tipAddUserAddrView").hide();
                        addAfterHtml(result,afterHtml);
                    }
                },"JSON");
    }
	$(document).ready(function(){
        var aac=$(".yhtxzs img").width();
        $(".yhtxzs img").css("height", aac);
    });
	$(document).ready(function(){
        var aac=$(".yhtxzs img").height();
		var bbc=$(".yhzfyzs").height();
        $(".yhzfyzs").css("padding-top", (aac - bbc) / 2);
		//alert(bbc);
    });
	$(document).ready(function(){
	   $(".zkyhjsm h1").toggle(function(){
		 $(this).next(".zkyhjsmtext").animate({height: 'toggle', opacity: 'toggle'}, "slow");
	   },function(){
		 $(this).next(".zkyhjsmtext").animate({height: 'toggle', opacity: 'toggle'}, "slow");
	   });
	});
	$(document).bind("click",function(e){
		$('div').closest('.zkyhjsmtext').each(function(){
			if(e.target != this){
				$(this).hide("slow");
			}
		});
	});
    function selButton(c_id) {
        var toUrl = "{:U('Order/ajaxSetUseCoupon')}";
        var strOrder_sn = "{$str_order_sn}";
        $.post(
                toUrl,
                {'strOrder_sn':strOrder_sn,'tag':c_id},
                function (result) {
                    getAllPrice();
                    var sumTag = $(".sum_"+c_id);
                    if(result.status == 1){
                        selEffect(c_id,sumTag,1)
                    }else{
                        if (result.status == -1){
                            selEffect(c_id,sumTag,0)
                        }
                    }
                    layer.msg(result.message,{time:1100});
                },"JSON");
    }
    function getAllPrice() {
        var toUrl = "{:U('Order/ajaxGetAllPrice')}";
        var order_sn = "{$order_sn}";
        $.post(
                toUrl,
                {'order_sn' : order_sn,},
                function (result) {
                    $(".postage").html(result.data.postage);
                    $(".wx_allPrice").html(result.data.wx_allPrice.toFixed(2));
                },"JSON");
    }
    function selEffect(c_id,sumTag,tag) {
        var currSum = parseInt(sumTag.html());
        var inputTag = $(".ljsyhj-"+c_id+" input");
        if (tag == 1){
            sumTag.html(parseInt(currSum-1));
            inputTag.val('您已选择');
            dealSelView();
            inputTag.addClass('ljsyhjdjxg');
        }else {
            sumTag.html(parseInt(currSum+1));
            inputTag.val('立即使用');
            inputTag.removeClass('ljsyhjdjxg');
        }
    }
    function dealSelView() {
        $(".ljsyhjdjxg").each(function () {
            var c_id = $(this).attr("attr-c_id");
            var sumTag = $(".sum_"+c_id);
            var currSum = parseInt(sumTag.html());
            sumTag.html(parseInt(currSum + 1));

            var inputTag = $(this);
            inputTag.val('立即使用');
            inputTag.removeClass('ljsyhjdjxg');
        })
    }
</script>
</html>
