<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"> 
<meta name="format-detection" content="telephone=no">
<title>沸腾余额支付</title>
<link href="__MCSS__/admin.css" rel="stylesheet" type="text/css" />
<script src="__MJS__/jquery-1.8.0.min.js"></script>
</head>

<body>
<div class="ftzylogo">
    <img src="__MIMG__/stlogo.jpg" />
</div>
<div class="ftyesr">
    <input name="" type="text" placeholder="请输入支付余额"/>
    <span>沸腾余额：8888</span>
</div>
<div class="ftyeqrzf">
    <input name="" type="button" value="沸腾余额支付"  id="dmzftc" onclick="dmzftc()"/>
</div>
<div class="ftyesm">
	<h1>如何赚取余额？</h1>
    <p>1.如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额</p>
    <p>2.如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额</p>
    <p>3.如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额如何赚取余额</p>
</div>
<p class="djbjbh" id="djbjbh" onclick="djbjbh()"></p>
<div class="srzfmi" id="srzfmi">
	<h1>请输入支付密码
        <div class="ftmwjmi">
            <a href="#">忘记支付密码</a>
        </div>
    </h1>
    <div class="pwd-box">
        <input type="tel" maxlength="6" class="pwd-input" id="pwd-input">
        <div class="fake-box">
            <input type="password" readonly="">
            <input type="password" readonly="">
            <input type="password" readonly="">
            <input type="password" readonly="">
            <input type="password" readonly="">
            <input type="password" readonly="">
        </div>
    </div>
    <div class="jxgwan"><h1>支付</h1></div>
</div>
</body>
<script>
function dmzftc(){
	document.getElementById('srzfmi').className='srzfmi yhfscx';
	document.getElementById('djbjbh').className='djbjbh yhfscx';
}
function djbjbh(){
	document.getElementById('srzfmi').className='srzfmi';
	document.getElementById('djbjbh').className='djbjbh';
}
</script>
<script>
var $input = $(".fake-box input");
$("#pwd-input").on("input", function() {
	var pwd = $(this).val().trim();
	for (var i = 0, len = pwd.length; i < len; i++) {
		$input.eq("" + i + "").val(pwd[i]);
	}
	$input.each(function() {
		var index = $(this).index();
		if (index >= len) {
			$(this).val("");
		}
	});
	if (len == 6) {
		//执行其他操作
	}
});
</script>
</html>
