.panel-primary {
    width: 550px;
    margin: 0 auto;
    font-size: 12px;
    border-color: rgb(227, 227, 227);
}

.panel-primary .panel-body {
    padding: 5px 5px 5px 5px;
    overflow: hidden;
}

.panel-body .panel-left-body {
    float: left;
}

.form-group {
    padding: 10px, 0, 0, 10px;
    margin-bottom: 3px;
    min-width: 10%;
}

.input-group {
    width: 100%;
    overflow: hidden;
}

.input-group > label {
    text-align: center;
    float: left;
    font-weight: normal;
    min-width: 100px;
    width: 30%;
    font-size: 12px;
}

.input-group > .form-control {
    float: left;
    min-width: 150px;
    width: 50%;
    height: 20px;
}

.mws-panel {
    width: 550px;
    margin: 0 auto;
}

.panel-primary > .panel-body > .input-group > .form-control {
    float: left;
    min-width: 250px;
    width: 75%;
    height: 20px;
}

.panel-primary > .panel-body > .input-group > label {
    text-align: center;
    float: left;
    font-weight: normal;
    min-width: 100px;
    width: 15%;
    font-size: 12px;
}

tr td {
    text-align: center;
}

.eclp_list_show {
    width: 250px;
}

.bottom {
    width: 100%;
}

.bottom > a {
    width: 20%;
    margin-left: 200px;
}